@media screen and (max-width: 1024px){
    .container{
        max-width: 960px;
    }
    section{
        padding: 40px 0;
    }
    .banner {
        padding: 50px 0;
    }
    .banner-text h1 {
        font-size: 50px;
        line-height: 1.5;
    }
    .about-content {
        background-size: contain;
        padding: 30px;
    }
    .event-section {
        background-size: contain;
    }
    .event-content h2 {
        font-size: 44px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 720px;
    }
    h1 {
        font-size: 40px !important;
        line-height: 1.5 !important;
    }
    h2 {
        font-size: 34px !important;
        line-height: 1.5 !important;
    }
    h3 {
        font-size: 30px !important;
        line-height: 1.5 !important;
    }
    h4 {
        font-size: 26px !important;
        line-height: 1.5 !important;
    }
    header {
        height: 760px;
    }
    header .col-2-12:first-child{
        max-width: 100%;
        flex-basis: 100%;
        text-align: center;
    }
    header .col-7-12{
        max-width: 75%;
        flex-basis: 75%;
    }
    .btn a {
        padding: 20px 50px;
    }
    .banner {
        padding: 50px 0;
    }
    .about-section .col-6-12{
        max-width: 100%;
        flex-basis: 100%;
    }
    .about-section .client-review .col-6-12{
        max-width: 50%;
        flex-basis: 50%;
    }
    .event-section .row {
        padding: 30px 0;
    }
    .event-overlap-img{
        display: none;
    }
    footer {
        margin-top: 0;
    }
    .footer-right label {
        font-size: 20px;
    }
    .footer-right button {
        font-size: 20px;
    }
    .footer-right span {
        font-size: 16px;
    }
}
@media screen and (max-width: 425px){
    .container{
        width: 380px;
    }
    section {
        padding: 30px 0;
    }
    a{
        font-size: 16px !important;
    }
    p{
        font-size: 14px !important;
    }
    header{
        height: auto;
    }
    header .col-2-12:first-child{
        max-width: 50%;
        flex-basis: 50%;
        order: 1;
        text-align: left;
    }
    header .col-7-12 {
        max-width: 100%;
        flex-basis: 100%;
        order: 3;
    }
    nav ul{
        justify-content: center;
    }
    nav ul li {
        padding: 15px;
    }
    nav ul li a {
        font-size: 16px;
    }
    header .col-3-12 {
        max-width: 50%;
        flex-basis: 50%;
        order: 2;
    }
    .btn a {
        padding: 10px 40px;
    }
    .banner .row{
        flex-direction: column-reverse;
    }
    .banner .col-6-12, .banner .col-4-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
    .banner-text p {
        margin: 30px 0;
    }
    .banner-img {
        margin-bottom: 30px;
    }
    .about-section .row{
        flex-direction: column-reverse;
    }
    .about-section .client-review .col-6-12 {
        max-width: 100%;
        flex-basis: 100%;
    }
    .about-section .client-review .col-6-12{
        margin: 10px 0;
    }
    .review-card {
        margin: 0;
    }
    .event-list-1{
        flex-direction: column-reverse;
    }
    .event-list-1 .col-5-12, .event-list-1 .col-6-12, .event-list-2 .col-5-12, .event-list-2 .col-6-12 {
        max-width: 100%;
        flex-basis: 100%;
        margin: 10px 0;
    }
    .event-list-1 .event-img, .event-list-2 .event-img {
        text-align: -webkit-center;
    }
    .event-list-2 .event-content {
        text-align: left;
    }
    footer .row{
        flex-direction: column-reverse;
    }
    footer .col-4-12, footer .col-6-12 {
        max-width: 100%;
        flex-basis: 100%;
        margin: 10px 0;
    }
}
@media screen and (max-width: 375px){
    .container{
        width: 350px;
    }
    section {
        padding: 20px 0;
    }
    h1 {
        font-size: 32px !important;
        line-height: 1.5 !important;
    }
    h2 {
        font-size: 28px !important;
        line-height: 1.5 !important;
    }
    h3 {
        font-size: 24px !important;
        line-height: 1.5 !important;
    }
    h4 {
        font-size: 20px !important;
        line-height: 1.5 !important;
    }
    h5 {
        font-size: 18px !important;
        line-height: 1.5 !important;
    }
    a {
        font-size: 14px !important;
    }
    p {
        font-size: 12px !important;
    }
    nav ul li{
        padding: 10px;
    }
    .footer-right label {
        font-size: 16px;
    }
}
@media screen and (max-width: 320px){
    .container{
        width: 300px;
    }
}